@model CollegeManagement.Models.TimetableModel

<h2>Add New Timetable Entry</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.SubjectID)
        @Html.TextBoxFor(model => model.SubjectID, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Day)
        @Html.TextBoxFor(model => model.Day, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.TimeSlot)
        @Html.TextBoxFor(model => model.TimeSlot, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Room)
        @Html.TextBoxFor(model => model.Room, new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
}
