@model CollegeManagement.Models.AttendanceModel

<h2>Mark Attendance</h2>

@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.Label("Student ID")
        @Html.TextBox("StudentID", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Subject ID")
        @Html.TextBox("SubjectID", null, new { @class = "form-control" })
    </div>
    <div class="form-group">
        @Html.Label("Status")
        @Html.DropDownList("Status", new SelectList(new[] { "Present", "Absent" }), new { @class = "form-control" })
    </div>
    <button type="submit" class="btn btn-primary">Mark Attendance</button>
}
